.container{
    position: relative;
    bottom: 11rem;
    display: flex;
    
}

.search{
    position: fixed;
    top: 0.5rem;
    left: 50rem;
}

.score{
    position: fixed;
    top: 1rem;
    left: 113rem;
    font-size: 1.6rem;
    color: aliceblue;
}

.timer{
    position: fixed;
    top: 3rem;
    left: 113rem;
    font-size: 1.6rem;
    color: aliceblue;
}

.retry{
    top: 2rem;
    right: 8rem;
    position: fixed;
    background-color: dimgray;
    height: 3rem;
    width: 7rem;
    font-size: 1.2rem;
    color: aliceblue;
    border: solid 4px;
    border-radius: 6px;
}

.back{ 
    background-color: dimgray;
    position: fixed;
    background-size: cover;
    z-index: -1;
    min-width: 120rem;
    min-height: 71rem;
    bottom: 0rem;

}

.textBar{
    height: 4rem;
    width: 17rem;
    font-size: 2rem;
    border-radius: 12px;
}

@keyframes move{
    100%{transform:translateY(1040px);}
  }

.chop{  
    animation:move 17000ms linear ;
    color: aliceblue;
}

.smelly{  
    animation:move 10900ms linear ;
    color: aliceblue;
}

.untidy{  
    animation:move 12000ms linear ;
    color: aliceblue;
}

.selection{  
    animation:move 11300ms linear ;
    color: aliceblue;
}

.letter{  
    animation:move 8600ms linear ;
    color: aliceblue;
}

.friction{
    animation:move 8000ms linear;
    color: aliceblue;
}

.guess{
    animation:move 9999ms linear;
    color: aliceblue;
}

.middle{
    animation:move 9150ms linear;
    color: aliceblue;
}

.sister{
    animation:move 15000ms linear;
    color: aliceblue;
}

.zealous{
    animation:move 11000ms linear;
    color: aliceblue;
}

.tense{
    animation:move 9050ms linear;
    color: aliceblue;
}

.precede{
    animation:move 8000ms linear;
    color: aliceblue;
}

.cherry{
    animation:move 8300ms linear;
    color: aliceblue;
}

.fantastic{
    animation:move 10000ms linear;
    color: aliceblue;
}

.steady{
    animation:move 18000ms linear;
    color: aliceblue;
}

.wine{
    animation:move 13000ms linear;
    color: aliceblue;
}

.hurry{
    animation:move 8300ms linear;
    color: aliceblue;
}

.previous{
    animation:move 16000ms linear;
    color: aliceblue;
}

.practice{
    animation:move 8000ms linear;
    color: aliceblue;
}